<div class="col-sm-6 col-md-6 col-lg-4 my-3">
    <div class="card" style="width: 18rem;">
        <img src="<%= image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= title %></h5>
            <p class="card-text"><%= description %></p>
            <a href="/view/<%= link %>" class="btn btn-primary">View product</a>
            <a href="/buy/<%= link %>" class="btn btn-success">Buy Product</a>
        </div>
    </div>
</div>

