<%- include('header') %>

    <h1>Welcome to my shop please look around</h1>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <%- include('parts/carouselitem', { text: "Cool belts", image: "/images/belt.jpeg", active: "active" }) %>
                        <%- include('parts/carouselitem', { text: "Fast laptops", image: "/images/laptop.jpg", active: "" }) %>
                        <%- include('parts/carouselitem', { text: "Great brooms", image: "/images/broom.jpg", active: "" }) %>
                        <%- include('parts/carouselitem', { text: "Fast Cars!", image: "/images/diesel.jpg", active: "" }) %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <%- include('footer') %>